<!-- Start of first page: one -->

  <div data-role="header">
    <h1>Multi-page</h1>
  </div><!-- /header -->

  <div data-role="content" >
    <h2>One</h2>

    <p>I have an id of "one" on my page container. I'm first in the source order so I'm shown when the page loads.</p>  

    <p>This is a multi-page boilerplate template that you can copy to build you first jQuery Mobile page. This template contains multiple "page" containers inside, unlike a <a href="page-template.html"> single page template</a> that has just one page within it.</p> 
    <p>Just view the source and copy the code to get started. All the CSS and JS is linked to the jQuery CDN versions so this is super easy to set up. Remember to include a meta viewport tag in the head to set the zoom level.</p>
    <p>You link to internal pages by referring to the ID of the page you want to show. For example, to <a href="#two" >link</a> to the page with an ID of "two", my link would have a <code>href="two"</code> in the code.</p> 

    <h3>Show internal pages:</h3>
    <p><a href="#/two" data-role="button">Show page "two"</a></p>  
    <p><a href="#/popup"data-role="button" data-rel="dialog" data-transition="pop">Show page "popup" (as a dialog)</a></p>
  </div><!-- /content -->

  <div data-role="footer" data-theme="d">
    <h4>Page Footer</h4>
  </div><!-- /footer -->

