<!-- Start of second page: two -->

  <div data-role="header">
    <h1>Two</h1>
  </div><!-- /header -->

  <div data-role="content" data-theme="a">
    <h2>Two</h2>
    <p>I have an id of "two" on my page container. I'm the second page container in this multi-page template.</p> 
    <p>Notice that the theme is different for this page because we've added a few <code>data-theme</code> swatch assigments here to show off how flexible it is. You can add any content or widget to these pages, but we're keeping these simple.</p>  
    <p><a href="#/one" data-direction="reverse" data-role="button" data-theme="b">Back to page "one"</a></p> 

  </div><!-- /content -->

  <div data-role="footer">
    <h4>Page Footer</h4>
  </div><!-- /footer -->
